html {
  font-size: 18px;
}

.container .top {
  display: flex;
  flex-flow: row nowrap;
  background-color: black;
  color: white;

}

.container .head {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: 25rem;
  background-color: black;
}
